# Node modules
node_modules/

# Logs
logs/
*.log

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Docker
*.tar

# Jenkins
jenkins_home/

# Coverage / build
coverage/
dist/
build/

# npm
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Temporary files
tmp/
temp/

# Zip backups
*.zip